@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    color: #221E1F;
}

.text-center {
    text-align: center;
}

.fz-1 {
    font-size: 16px;
}

.fz-2 {
    font-size: 24px;
}

.fz-3 {
    font-size: 32px;
}

.fw-bold {
    font-weight: bold;
}

.container {
    max-width: 1088px;
    margin: 0 auto;
    padding: 0 20px;
    /* border: 1px solid black; */
}

.mb100 {
    margin-bottom: 100px;
}

.mb28 {
    margin-bottom: 28px;
}

.pt24 {
    padding-top: 24px;
}

.pb24 {
    padding-bottom: 24px;
}

.button {
    text-decoration: none;
    background-color: #56C4C5;
    font-size: 18px;
    color: #FFFFFF;
    padding: 12px 32px;
    border-radius: 27px;
}

.button:hover {
    background-color: #fff;
    border: 1px #56C4C5 solid;
    color: #56C4C5;
}

.hidden {
    display: none;
}

.header {
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg');
    background-position: top right;
    background-repeat: no-repeat;
}

.container.box {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}

.scrolled {
    background-color: #fff;
    min-width: 100%;
    box-shadow: 0px 2px 10px #00000014;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    height: 40px;
    margin: 24px 0px;
}

.navbar .button {
    background-color: #FF5D50;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 32px;
}

.navbar .button:hover {
    background-color: #fff;
    border: 1px solid #FF5D50;
    color: #FF5D50;
}

.intro {
    padding-top: 118px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 116px;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-text h3 {
    color: #56C4C5;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 8px;
}

.intro-text h2 {
    font-size: 48px;
    line-height: 70px;
    margin-bottom: 16px;
}

.intro-text p {
    font-size: 20px;
    line-height: 29px;
}

.intro-img {
    min-width: 50%;
}

@media (max-width:576px) {
    .container{
        max-width: 576px;
    }
    .container.box {
        padding: 0;
        background-color: #fff;
        border-bottom: 2px solid #FFD153;
    }

    .navbar {
        padding: 0 20px;
    }

    .navbar img {
        height: 24px;
    }

    .header {
        background: none;
    }

    .intro {
        flex-direction: column;
        padding-bottom: 32px;
    }

    .intro-text h3,
    .intro-text p {
        font-size: 16px;
        line-height: 24px;
    }

    .intro-text h2 {
        font-size: 32px;
        line-height: 46px;
    }

    .intro-text p {
        margin-bottom: 32px;
    }

    .intro-img {
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
    }

}

.platforms {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 33%;
}

.media-logo {
    width: 90px;
}

.media p {
    color: #747474;
    line-height: 24px;
}

@media(max-width:576px) {
    .container.mb100 {
        margin-bottom: 60px;
    }

    .container.mb100 h2 {
        font-size: 28px;
        line-height: 40px;
    }

    .media {
        min-width: 100%;
        padding-top: 24px;
    }

    .media h3 {
        padding-bottom: 16px;
    }

    .media-logo {
        width: 60px;
        padding-bottom: 16px;
    }
}

.character {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character h2 {
    line-height: 46px;
    margin-bottom: 16px;
}

.character>p {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 48px;
}

.character ul {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.character li {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 24%;
    max-width: 24%;
    border-radius: 12px;
    box-shadow: 0px 2px 10px #00000014;
}

.character li img {
    max-height: 260px;
    border-radius: 12px 12px 0 0;
}

.character li h4 {
    line-height: 24px;
    color: #56C4C5;
    padding: 16px 0;
}

.character li p {
    line-height: 24px;
    padding: 0 16px 24px;
}

@media (max-width:576px) {
    .character h2 {
        font-size: 28px;
        line-height: 40px;
    }

    .character>p{
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 32px;
    }

    .character ul {
        flex-direction: column;
        align-items: center;
    }

    .character li {
        min-width: 70%;
        margin-bottom: 24px;
    }

    .character .last-card{
        margin-bottom: 0;
    }
}

.feature {
    display: flex;
}

.feature-card {
    max-width: 47%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature-card li {
    min-width: 46%;
    max-width: 46%;
    /* height: 280px; */
    box-shadow: 0px 2px 10px #00000014;
    padding: 32px 32px 48px 32px;
    border-radius: 12px;
}

.feature-card li img {
    width: 52px;
    height: 52px;
}

.feature-card .bg-circle {
    width: 86px;
    height: 86px;
    padding: 17px;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 50%;
}

.feature-card li h4 {
    padding-top: 24px;
    padding-bottom: 16px;
    font-size: 18px;
    line-height: 26px;
}

.feature-card li p {
    line-height: 24px;
}

.feature-content {
    min-width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-content h2 {
    line-height: 46px;
    padding-bottom: 16px;
}

.feature-content p {
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 36px;
}

@media (max-width:576px) {
    .feature {
        display: flex;
        flex-direction: column-reverse;
    }

    .feature-content {
        text-align: center;
    }

    .feature-content p {
        font-size: 16px;
        padding-bottom: 28px;
    }

    .feature-card {
        max-width: 80%;
        flex-direction: column;
        margin: 0 auto;
    }

    .feature-card:first-child {
        margin-top: 44px;
    }

    .feature-card li {
        min-width: 100%;
        margin-bottom: 24px;
        padding: 32px 24px 48px 24px;
    }

    .feature-card .last-card {
        margin-bottom: 0;
    }
}

.comment h2 {
    margin-bottom: 104px;
}

.comment ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.comment-card {
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    padding: 48px 32px 24px 32px;
    position: relative;
    line-height: 24px;
}

.comment-card>img {
    position: absolute;
    width: 80px;
    border-radius: 50%;
    top: -60px;
}

.comment-card hr {
    margin: 24px 0;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.user-info {
    display: flex;
    justify-content: space-between;
}

.user-info img {
    height: 16px;
}

.footer-plan {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    padding-top: 260px;
    padding-bottom: 100px;
}

.footer-plan h2 {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 60px;
}

.footer-plan p {
    text-align: center;
    padding-bottom: 16px;
}

@media(max-width:576px) {
    .footer-plan {
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg);
        background-size: 100%;
        padding-top: 293px;
        padding-bottom: 60px;
    }

    .footer-plan h2 {
        font-size: 24px;
        margin-bottom: 36px;
    }
}

.footer {
    background-color: #F5F5F5;
    text-align: center;
}